.CheckoutProduct{
    display: flex;
    margin: 20px 0 20px 0;
}
.CheckoutProduct__info{
    padding-left: 10px;
}
.CheckoutProduct__image{
    object-fit: contain;
    width: 200px;
    height: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.CheckoutProduct__price{
    margin-left: 15px;
    height: fit-content;
}

.CheckoutProduct button{
    box-shadow: 2px 5px 8px rgba(0,0,0,0.3);
    background-color: #32446C;
    color: whitesmoke;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 6px;
    height: auto;
    cursor: pointer;
    margin-top: 10px;
}
.CheckoutProduct button:active{
    transform: scale(0.98);
}
.CheckoutProduct__title{
    font-size: 17px;
}

hr{
    display: none;
}


/* mobile responsive */
@media screen and (max-width:700px){
    .CheckoutProduct{
        display: block;
    }
    .CheckoutProduct__price{
        margin-left: 10px;
    }
    .CheckoutProduct__image{
        width: 165px;
        height: 185px;
    }
    .CheckoutProduct__title{
        font-size: 16px;
        text-align: left;
    }
    .CheckoutProduct__price{
        width: fit-content;
        margin-top: -28px;
        margin-left: auto;
        font-size: large;
    }
    .CheckoutProduct button{
        margin-top: 14px;
    }
    hr{
        display: block;
        margin-top:18px;
        border: 0.7px solid rgba(211, 211, 211, 0.632);
    }
}