.CheckoutProduct{
    display: flex;
    margin: 16px 0 16px 0;
    border-bottom: 1px solid lightgray;
    padding-bottom: 7px;
}
.CheckoutProduct__info{
    padding-left: 10px;
}
.CheckoutProduct__image{
    border-radius: 2px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.CheckoutProduct__price{
    margin-left: 15px;
    font-size: 19px;
}

.CheckoutProduct button{
    box-shadow: 2px 5px 8px rgba(0,0,0,0.3);
    background-color: #32446C;
    color: whitesmoke;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 7px;
    height: auto;
    cursor: pointer;
    margin-top: 10px;
}
.CheckoutProduct button:active{
    transform: scale(0.98);
}
.CheckoutProduct__title{
    font-size: 17px;
}

/* mobile responsive */
@media screen and (max-width:700px){
    .CheckoutProduct{
        display: flex;
        align-items: flex-start;
    }
    .CheckoutProduct__image{
        width: 165px;
        height: 165px;
    }
    .CheckoutProduct__title{
        font-size: 16px;
        text-align: left;
    }
    .CheckoutProduct button{
        margin-top: 14px;
    }
    .CheckoutProduct__price strong{
        font-size: x-large;
    }
}