.checkout{
    display: flex;
    padding: 10px;
    height: max-content;
    justify-content: space-between;
    text-transform: capitalize;
}
.checkout h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}
.checkout h3>span{
    border-bottom: 2px solid #FFBF00;
    padding-bottom: 2px;
    width: fit-content;
}
.checkout__title{
    font-size: 25px;
    margin-bottom: 10px;
}
.checkout__left{
    width: 100%;
}
.checkout__emptyBasket{
  text-align: left;
border-bottom: 1px dashed lightgrey;
  letter-spacing: 1px;
  margin-inline: 10px;
}
.checkout__emptyBasket::before{
    content: "";
    position: absolute;
    width: 0.15rem;
    height: 90%;
    background: #FFBF00;   
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.checkout__emptyBasket>p{
    font-size: 18px;
    margin-bottom: 5px;
}
/* mobile checkout //responsive */
@media screen and (max-width:700px){
    .checkout{
        display: block;
    }  
}