.home__img{
    width: 100%;
    z-index: -1;
    margin-bottom: -100px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    transition: all 0 ease-in-out;
    object-fit: contain;
}
.home{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1500px;
}

.home__container {
    margin-inline: auto;
    max-width: 120em;
}

.home__row {
    z-index: 1;
    display: flex;
    gap: 1em;
    width: calc(100% - 1em);
  }

.home__sliderContainer{
    width: 100%;
    margin: 0 auto;
    height: 40vh;
    position: relative;
    border-radius: 0.5rem;
}
.home__slide{
    position: absolute;
    width: 100%;
    display: grid;
    place-items: center; 
    transition: all 0.25s ease-in-out;
    text-align: center;
}


@media screen and (max-width:700px){
    .home__img{
        height: 180px;
        object-fit: cover;
    }
    .home__sliderContainer{
        height: 18vh;
    }
    /* .home__rowBestSeller{
    margin: 10px;
    border: 8px solid;
    border-width: 10px;
	border-image: repeating-linear-gradient(45deg, turquoise, pink 4%) 1;
} */

.home__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .home__row {
    padding-bottom: 1em;
    overflow-x: scroll;
    gap: .5em;
    min-width: 100%;
    margin-bottom: 0.5em;
  }
  .home__rowBestSeller{
    overflow-x: hidden;
  }
}