.login{
    display: flex;
    flex-direction:column;
    align-items:center;
    height: 100vh;
}
.login__logo{ 
    /* margin top and bottom 20px, left and right margin is set to auto*/
    margin: 10px auto 0px auto;
    object-fit: contain;
    width: 100px;
}
.login__container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
}
.login__container h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.login__container p{
    margin: 7px 0 2px 0;
    font-size: 12px;
}

input[type="email"],
input[type="password"]{
    margin: 5px 0 5px 0;
    width: 98%;
    height: 30px;
    border: 0.7px solid gray;
    border-radius: 2px;
    caret-color: #FFBF00;
    outline: none;
}
.login__signInButton{
    border-radius: 2px;
    margin-top: 10px;
    width: 100%;
    background: #FFBF00;
    /* border: 1px solid; */
    border: 0.7px solid gray;
    cursor: pointer;
    appearance: none;
    height: 30px;
}
.login__registerButton{
    border-radius: 2px;
    border: 0.7px solid gray;
    margin-top: 10px;
    height: 30px;
    width: 100%;
    cursor: pointer;
}

