.product {
  background: rgba(255, 255, 255, 0.700);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 12px;
  width: 100%;
  position: relative;
}
.product img {
  max-height: 260px;
  border-radius: 5px;
  object-fit: contain;
  margin-bottom: 10px;
}
.product__info {
  margin-bottom: 11px;
}
.product__price {
  margin-bottom: 12px;
  text-align: center;
}
.product__price strong {
  font-size: 27px;
  border-bottom: 1px solid #FFBF00;
}

.toggle-button{
  width: 100%;
  max-width: 180px;
  border: none;
  transition: all 0.4s ease-out;
  background: #32446C;
  color: white;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 5px 8px rgb(0 0 0 / 30%); 
  display: flex;
  align-items: center;
  justify-content: center;
}
.check{
  margin-right: 5px;
  display: none !important;
  font-size: 22px !important;
  background: white;
  padding: 2px;
  border-radius: 30px;
  color: #32446C;
  pointer-events: none;
  box-shadow: inset 1px 2px 4px rgba(0,0,0,0.5);
}

.toggle-close{
  background: #32446cde;
  outline: none;
  padding: 7px;
}

.toggle-close .check{
  display: block !important;
}

.openModalBtn{
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 0;
  appearance: none;
  border: none;
  background: transparent;
  color: #FFBF00;
  background-color: rgba(245, 245, 245, 0.516);
  padding: 6px;
  border-radius: 0px 12px;

}

/* making website responsive */
@media screen and (max-width: 700px) {
  .product {
    width: auto;
    background: transparent;
    padding: 38px;
    margin: 5px;
    height: fit-content;
  }
  .product:first-child{
    margin-left: 0.8em;
  }
  .product:last-child{
    margin-right: 1em;
  }
  .product h2 {
    margin-top: -21px;
    color: rgba(51, 51, 51, 0.861);
    margin-bottom: 6px;
  }
  .product__info  p {
    margin: -10px;
    font-size: 17px;
  }
  .product img {
    margin-top: 12px;
    max-height: 195px;
  }
  .toggle-button{
    margin-bottom: -22px;
  }
  
}
