.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    padding: 20px;
    margin-left: 20px;
    height: 70px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: rgba(245, 245, 245, 0.801);
}
.subtotal p{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.subtotal strong{
    font-size: 22px;
}
.subtotal button{
    border: 0.7px solid gray;
    background-color: #FFBF00;
    padding: 7px;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
}
.subtotal button:active{
    transform: scale(0.98);
}
/* mobile subtotal //responsive */
@media screen and (max-width:700px){
    .subtotal{
        margin-inline: 5px;
        width: auto;
    }
}